<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.AnswerDao">

 <resultMap type="Answer" id="AnswerMap">
 <id column="member_no" property="memberNo"/>
 <result column="question_no" property="questionNo"/>
 <result column="content" property="content"/>
 <result column="multiple_no" property="multipleNo"/>
 <result column="create_date" property="createDate"/>
 <association property="user" javaType="User">
 <id column="user_no"   property="userNo"/>
    <result column="email"  property="email"/>
    <result column="name"  property="name"/>
    <result column="password"  property="password"/>
    <result column="tel"  property="tel"/>
    <result column="major"  property="major"/>
    <result column="introduce"    property="introduce"/>
    <result column="profile_photo"    property="profilePhoto"/>
    <result column="login_method" property="loginMethod"/>
    <result column="create_date" property="createDate"/>
 </association>
 </resultMap>

<select id="findByUserNo" resultMap="AnswerMap" parameterType="int">
    select * from answer
    where member_no = #{no}
</select>

  <select id="findAllByQuestionNo" resultMap="AnswerMap" parameterType="int">
     select  
  a.member_no, a.question_no, a.content, a.multiple_no,
  a.create_date, u.name
from answer a
      join class_member cm on a.member_no = cm.member_no
      join user u on cm.user_no = u.user_no
    where question_no=#{qno};
  </select>
  
  <select id="findbyMemberNoAndQuestionNo" resultMap="AnswerMap" parameterType="map">
    select *
    from answer
    where member_no = #{memberNo} and question_no = #{questionNo}
  </select>
  
  <insert id="insert" parameterType="Answer">
    insert into answer(member_no, question_no, content<if test="multipleNo != null and multipleNo != ''">, multiple_no</if>)
    values (
    #{memberNo}, 
    #{questionNo}, 
    #{content}<if test="multipleNo != null and multipleNo != ''">, 
    #{multipleNo}</if>)
  </insert>
  
  <update id="update" parameterType="Answer">
    update answer
    <set>
      content=#{content}
      <if test="multipleNo != null and multipleNo != ''">,
      multiple_no=#{multipleNo}</if>
    </set>
    where 
  question_no=#{questionNo} and member_no = #{memberNo}
  
  </update>

</mapper>