<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Team.project.dao.ClazzDao">

<resultMap type="Clazz" id="ClazzMap">
  <id column="class_no" property="classNo"/>
  <result column="name" property="name"/>
  <result column="description" property="description"/>
  <result column="room" property="room"/>
  <result column="class_code" property="classCode"/>
  <result column="create_date" property="createDate"/>
  <result column="color" property="color"/>
</resultMap>

<sql id="selectAll">
  select
    class_no,
    name,
    description,
    room,
    class_code,
    create_date
</sql>

<select id="findAll" resultMap="ClazzMap">
  <!--  <include refid="selectAll"/>-->
  select *
  from class;
</select>

<select id="findByUserNo" resultMap="ClazzMap" parameterType="int">
  select c.class_no, name, description, room, class_code, create_date, color
  from class c
  join class_member m on c.class_no = m.class_no where user_no = #{no} 
</select>

<insert id="insert" useGeneratedKeys="true" keyProperty="classNo" parameterType="Clazz">
  insert into class
  (name, description, room, class_code, color)
  values(
    #{name},
    #{description},
    #{room},
    #{classCode},
    #{color}
  )
</insert>

<select id="findByNo" resultMap="ClazzMap" parameterType="int">
  select * from class
  where class_no=#{no}
</select>

<update id="update" parameterType="Clazz">
    update class
    <set>
      name=#{name},
      description=#{description},
      room=#{room},
      class_code=#{classCode},
      color = #{color}
    </set>
    where class_no=#{classNo}
  </update>
  
  <select id="findByCode"
    resultMap="ClazzMap"
    parameterType="string">
    select 
      *
    from 
      class
    where 
      class_code = #{code}
    </select>
    
    <delete id="delete" parameterType="int">
        delete from class
        where class_no = #{class_no}
    </delete>

</mapper>





