<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--  -->
  
<mapper namespace="Team.project.dao.PostDao">

  <resultMap type="Post" id="PostMap">
      <id column="post_no" property="postNo"/>
      <result column="board_no" property="boardNo"/>
      <result column="member_no" property="memberNo"/>
      <result column="title" property="title"/>
      <result column="content" property="content"/>
      <result column="create_date" property="createDate"/>
      <result column="file" property="file"/>  
          
      <result column="mod" property="mod"/>
       
    <association property="board" javaType="Board">
      <id column="board_no" property="boardNo"/>
      <result column="title" property="title"/>
      <result column="class_no" property="classNo"/>
      <result column="notice" property="notice"/>
    </association>
    <association property="user" javaType="User">
	    <id column="user_no"   property="userNo"/>
	    <result column="name"  property="name"/>
    </association>

  </resultMap>
  
  

  <!-- ///////////////////////////////////////////////////////////////////////////////// -->

  <sql id="sleect1">
    select
      post_no,
      title,
      content
      create_date
  </sql>
 

  <select id="compare" resultMap="PostMap" parameterType="int">
    select
      post_no
      board_no
    from
      post
    where
      post_no = board_no
  </select>  
  

  <select id="findList" resultMap="PostMap" parameterType="int">
    select
      p.post_no,
      p.board_no,
      p.member_no,
      p.title,
      p.content,
      p.create_date,
      p.file,
      b.class_no,
      b.title as boardTitle
    from 
      post p
    join board b on p.board_no = b.board_no
    where class_no=#{no} and b.notice=true
  </select>
  
  <insert id="insert" parameterType="Post">
 insert into 
 post (board_no, member_no, title, content, file) 
 values (#{boardNo}, #{memberNo}, #{title}, #{content}, #{file}); 
  </insert>
  
  <select id="findByNo" resultMap="PostMap" parameterType="int">
    select *
    from post
    where post_no = #{no}
  </select>
  
  <update id="update" parameterType="Post">
  update post
    <set>
      <if test="title != null and title != ''">title=#{title},</if>
      <if test="content != null and content != ''">content=#{content},</if>
      <if test="file != null and file != ''">file=#{file}</if>
    </set>
  where post_no = #{postNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from post
    where post_no=#{postNo}
  </delete>
  
  <select id="findByKeyword" resultMap="PostMap" parameterType="map">
  select
      p.*,
      u.name
    from post p join class_member cm on cm.member_no = p.member_no
      join user u on cm.user_no = u.user_no
      join board b on b.board_no = p.board_no 
    <where>
      <if test="type == 'title'">p.title like concat('%', #{keyword}, '%')</if>
      <if test="type == 'content'">p.content like concat('%', #{keyword}, '%')</if>
      <if test="type == 'name'">u.name like concat('%', #{keyword}, '%')</if>
    </where>
      and p.board_no = #{boardNo}
  </select>
  
<!-- criteria 를 적용한 게시판 페이징 조회 -->
<select id="list" resultMap="PostMap" parameterType="map">
select
      p.post_no,
      p.title,
      p.content,
      p.create_date,
      b.class_no,
      u.name
    from post p join class_member cm on cm.member_no = p.member_no
      join user u on cm.user_no = u.user_no
      join board b on b.board_no = p.board_no 
where p.board_no = #{bno} and p.post_no > 0
order by p.post_no desc
limit #{rowStart}, #{rowEnd}
</select>

<select id="listCount" resultType="int" parameterType="int">
    select
     count(*)
      from post p join class_member cm on cm.member_no = p.member_no
      join user u on cm.user_no = u.user_no
      join board b on b.board_no = p.board_no 
      where p.board_no = #{bno}
    </select>

<select id="findAll" resultMap="PostMap" parameterType="int">
    select
      p.post_no,
      p.board_no,
      p.member_no,
      p.title,
      p.content,
      p.create_date,
      p.file,
      b.title,
      b.class_no,
      u.user_no,
      u.name
      from post p join class_member cm on cm.member_no = p.member_no
      join user u on cm.user_no = u.user_no
      join board b on b.board_no = p.board_no 
      where p.board_no = #{bno}
    </select>
    
    
    <select id="findAllNewNoticePost" resultMap="PostMap" parameterType="int">
	    select p.post_no, p.board_no, p.title, p.content from post p
	    join board b on p.board_no = b.board_no
	    where b.class_no = #{classNo} and b.notice = 1 and DATEDIFF(p.create_date, current_timestamp()) > -3; 
    </select>
    
</mapper>



